<div class="well">
    <div class="row">
        <h4 class="text-center"><strong>{% trans %}Advanced search form{% endtrans %}</strong></h4>
        <hr />

        <form class="unesco_form" name="advance_form" method="POST" action="{{ path('pumukitnewadmin_unesco_list') }}">

            <div class="col-md-6">

                <div class="form-group">
                    <label for="id" class="col-md-3 control-label">{% trans %}ID{% endtrans %}</label>
                    <div class="col-md-9">
                        <input id="id" type="text" class="form-control" name="criteria[id]" placeholder="{% trans %}Multimedia object ID{% endtrans %}" />
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="seriesTitle" class="col-md-3 control-label">{% trans %}Series ID{% endtrans %}</label>
                    <div class="col-md-9">
                        <input id="seriesTitle" type="text" class="form-control" name="criteria[seriesTitle]" placeholder="{% trans %}Series ID{% endtrans %}" />
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="text" class="col-md-3 control-label">{% trans %}Text{% endtrans %}</label>
                    <div class="col-md-9">
                        <input id="Text" type="text" class="form-control" name="criteria[Text]" placeholder="{% trans %}Search by title, subtitle or description{% endtrans %}" />
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="title" class="col-md-3 control-label">{% trans %}Title{% endtrans %}</label>
                    <div class="col-md-9">
                        <input id="title" type="text" class="form-control" name="criteria[title]" placeholder="{% trans %}Title{% endtrans %}" />
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="Subtitle" class="col-md-3 control-label">{% trans %}Subtitle{% endtrans %}</label>
                    <div class="col-md-9">
                        <input id="subtitle" type="text" class="form-control" name="criteria[subtitle]" placeholder="{% trans %}Subtitle{% endtrans %}" />
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="keyword" class="col-md-3 control-label">{% trans %}Keyword{% endtrans %}</label>
                    <div class="col-md-9">
                        <input id="keyword" type="text" class="form-control" name="criteria[keyword]" placeholder="{% trans %}Keyword{% endtrans %}" />
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="type" class="col-md-3 control-label">{% trans %}Type{% endtrans %}</label>
                    <div class="col-md-9">
                        <select id="type" name="criteria[type]" class="form-control">
                            <option value="all">{% trans %}All{% endtrans %}</option>
                            {% for key, value in type %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="duration" class="col-md-3 control-label">{% trans %}Duration{% endtrans %}</label>
                    <div class="col-md-9">
                        <select id="duration" name="criteria[duration]" class="form-control">
                            <option value="">{% trans%}All{% endtrans %}</option>
                            <option value="-5">{% trans %}Up to 5 minutes{% endtrans %}</option>
                            <option value="-10">{% trans %}Up to 10 minutes{% endtrans %}</option>
                            <option value="-30">{% trans %}Up to 30 minutes{% endtrans %}</option>
                            <option value="-60">{% trans %}Up to 60 minutes{% endtrans %}</option>
                            <option value="+60">{% trans %}More than 60 minutes{% endtrans %}</option>
                        </select>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="year" class="col-md-3 control-label">{% trans %}Year{% endtrans %}</label>
                    <div class="col-md-9">
                        <select id="year" name="criteria[year]" class="form-control">
                            <option value="">{% trans%}Any{% endtrans %}</option>
                            {% for year in years %}
                                <option value="{{year}}">{{year}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="initPublicDate" class="col-md-3 control-label">{% trans %}Publication date{% endtrans %}</label>
                    <div class="col-md-4">
                        <input id="initPublicDate" name="criteria[initPublicDate]" class="form-control" type="date" pattern="(\d\d\d\d)-(\d\d)-(\d\d)" title="{% trans %}Format YYYY-MM-DD{% endtrans %}">
                    </div>
                    <div class="col-md-4">
                        <input id="finishPublicDate" name="criteria[finishPublicDate]" class="form-control" type="date" pattern="(\d\d\d\d)-(\d\d)-(\d\d)" title="{% trans %}Format YYYY-MM-DD{% endtrans %}">
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="initRecordDate" class="col-md-3 control-label">{% trans %}Recording date{% endtrans %}</label>
                    <div class="col-md-4">
                        <input id="initRecordDate" name="criteria[initRecordDate]" class="form-control" type="date" pattern="(\d\d\d\d)-(\d\d)-(\d\d)" title="{% trans %}Format YYYY-MM-DD{% endtrans %}">
                    </div>
                    <div class="col-md-4">
                        <input id="finishRecordDate" name="criteria[finishRecordDate]" class="form-control" type="date" pattern="(\d\d\d\d)-(\d\d)-(\d\d)" title="{% trans %}Format YYYY-MM-DD{% endtrans %}">
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="Description" class="col-md-3 control-label">{% trans %}Description{% endtrans %}</label>
                    <div class="col-md-9">
                        <input id="Description" type="text" class="form-control" name="criteria[description]" placeholder="{% trans %}Description{% endtrans %}" />
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="form-group" style="display:inline-block">
                    <div class="checkbox">
                        <label><strong style="margin-left:5px;"> {% trans %}Announce{% endtrans %}</strong>
                            <input id="announce" type="checkbox" name="criteria[announce]" />
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                {% for role in roles if role.display %}
                    <div class="form-group">
                        <label for="{{ role.getCod() }}" class="col-md-3 control-label">{{ role.getName(app.request.getLocale()) }}</label>
                        <div class="col-md-9">
                            <input type="text" id="{{ role.getCod() }}" class="form-control" name="criteria[roles][{{ role.getCod() }}]" placeholder="{{ role.getName(app.request.getLocale()) }}">
                        </div>
                    </div>
                {% endfor %}

                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="broadcast" class="col-md-3 control-label">{% trans %}Broadcast{% endtrans %}</label>
                    <div class="col-md-9">
                        <select id="broadcast" name="criteria[broadcast]" class="form-control">
                            <option value="all">{% trans %}All{% endtrans %}</option>
                            {% for key, broadcast in broadcasts %}
                                <option value="{{ key }}">{{ broadcast }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <label for="status" class="col-md-3 control-label">{% trans %}Status{% endtrans %}</label>
                    <div class="col-md-9">
                        <select id="status" name="criteria[statusPub]" class="form-control">
                            <option value="all">{% trans %}All{% endtrans %}</option>
                            {% for key, status in statusPub %}
                                <option value="'{{ key }}'">{{ status }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-xs-12 col-md-6 text-right">
                <button id="submitAdvanceForm" class="btn btn-pumukit btn-raised" type="submit">{% trans %}Send{% endtrans %}</button>
            </div>
        </form>
    </div>
</div>
