<div class="row widget slidebar">
  <ul>
    <!-- Principal -->

    <a href="{{ path('pumukit_webtv_index_index')}}" {{menu_selected=="pumukit_webtv_index_index"?'class="selected"':''}}>
      <span class="glyphicon glyphicon-home"></span>
        {{ home_title |trans }}
    </a>

    <!-- Announces -->

    <a href="{{ path('pumukit_webtv_announces_latestuploads') }}" class="{{menu_selected == 'pumukit_webtv_announces_latestuploads'? 'selected' : ''}}">
      <span class="glyphicon glyphicon-time"></span>
        {{ announces_title |trans }}
    </a>

    <!-- Search -->

    <a href="{{ path('pumukit_webtv_search_multimediaobjects')}}" class="{{menu_selected=="pumukit_webtv_search_multimediaobjects"?'selected':''}}">
      <span class="glyphicon glyphicon-search"></span>
        {{ search_title |trans}}
    </a>


    <!-- Live Channels -->
    {% for live in live_channels %}

      <a href="{{ path('pumukit_live_id', {'id': live.id})}}">
        <span class="glyphicon glyphicon-film"></span>
        {{ live.name | default('No title') | trans }}
      </a>

    {% endfor %}

    <!-- Mediateca -->
    <a href="{{ path('pumukit_webtv_medialibrary_index') }}" class="{{menu_selected=="pumukit_webtv_medialibrary_index"?'selected':''}}">
      <span class="glyphicon glyphicon-list"></span>
        {{ mediateca_title |trans }}
    </a>

    <!-- Videos by category -->
    <a href="{{ path('pumukit_webtv_categories_index') }}" class="{{menu_selected=="pumukit_webtv_categories_index"?'selected':''}}">
      <span class="glyphicon glyphicon-education"></span>
        {{ categories_title |trans }}
    </a>

  </ul>
</div>

<div class="row widget slidebar stats">
  {% render(controller('PumukitWebTVBundle:Widget:stats')) %}
</div>
